# deep learning framework
# torch
tensorflow
tensorflow_datasets

-f https://storage.googleapis.com/jax-releases/libtpu_releases.html
jax[tpu]
# jax[tpu]==0.4.12


# -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# jax[cuda11_pip]==0.4.12

# torch==2.1.0
# -f  https://storage.googleapis.com/libtpu-releases/index.html
# torch~=2.1.0 

# -f  https://storage.googleapis.com/libtpu-releases/index.html
# torch_xla[tpu]~=2.1.0

torch

# JAX family framework
# orbax-checkpoint==0.4.1
orbax-checkpoint
flax
optax
lpips_jax

# lpips
wandb
hydra-core
einops
# "jax[tpu]>=0.2.16" -f https://storage.googleapis.com/jax-releases/libtpu_releases.html
pillow
matplotlib

# Huggingface packages for LCM
transformers
diffusers