# deep learning framework
torch
tensorflow
tensorflow_datasets

# -f https://storage.googleapis.com/jax-releases/libtpu_releases.html
# jax[tpu]

# -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# jax[cuda11_pip]

# JAX family framework
flax
orbax-checkpoint
optax
lpips_jax

# lpips
wandb
hydra-core
einops
# "jax[tpu]>=0.2.16" -f https://storage.googleapis.com/jax-releases/libtpu_releases.html
pillow
matplotlib

clu
