torch
tensorflow
tensorflow_datasets
flax
optax
# git+https://github.com/matthias-wright/flaxmodels.git
lpips_jax
# lpips
wandb
hydra-core
einops
# "jax[tpu]>=0.2.16" -f https://storage.googleapis.com/jax-releases/libtpu_releases.html
